.toasts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 350px;
}
/* positions */

.toasts-position-top-right{
  top: 5px;
  right: 5px;
}

.toasts-position-top-left{
  top: 5px;
  left: 5px;
}

.toasts-position-bottom-right{
  bottom: 5px;
  right: 5px;
}

.toasts-position-bottom-left{
  bottom: 5px;
  left: 5px;
}

.toasts-container.toasts-position-bottom-right, .toasts-container.toasts-position-bottom-left{
  flex-direction: column-reverse;
}
